[project]
	description = "Geospatial Distributed Version Control System.  "
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gabriel Roldan (groldan)
[access "refs/for/refs/*"]
	read = group user/Gabriel Roldan (groldan)
	push = group user/Gabriel Roldan (groldan)
	label-Code-Review = -2..+2 group user/Gabriel Roldan (groldan)
	label-Verified = -1..+1 group user/Gabriel Roldan (groldan)
	rebase = group user/Gabriel Roldan (groldan)
	removeReviewer = group user/Gabriel Roldan (groldan)
	submit = group user/Gabriel Roldan (groldan)
[access "refs/heads/*"]
	read = group user/Gabriel Roldan (groldan)
	create = group user/Gabriel Roldan (groldan)
	push = +force group user/Gabriel Roldan (groldan)
	pushMerge = group user/Gabriel Roldan (groldan)
[access "refs/tags/*"]
	push = +force group user/Gabriel Roldan (groldan)
	pushTag = group user/Gabriel Roldan (groldan)
	pushSignedTag = group user/Gabriel Roldan (groldan)
